@using TuVanLaptoop.Models
@model List<GioHang>
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Layout/_LayoutNguoiDung.cshtml";
}
<style>
#table1{
    width: 80%;
    /*border:1px solid  black;*/
    float:right;
    margin-top:-200px;
}
#giohang {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#giohang td, #giohang th {
    border: 1px solid #ddd;
    padding: 8px;
}

#giohang tr:nth-child(even){background-color: #f2f2f2;}

#giohang tr:hover {background-color: #ddd;}

#giohang th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>

<div id="table1">
    @if (TempData["ThongBao"] != null)
    {
        <div style="text-align:center;color:red;">@TempData["ThongBao"]</div>
    }
    <table id="giohang">
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>Tên Sản Phẩm</th>
            <th>Ảnh Bìa</th>
            <th>Đơn Giá</th>
            <th>Số Lượng</th>
            <th>Thành Tiền</th>
        </tr>

        @foreach (GioHang item in Model)
        {
            <tr>
                <td>@item.iMaSanPham</td>
            <td>@item.sTenSanPham</td>
            <td><a href="@Url.Action("XemChiTiet","SanPham",new { @MaSanPham = item.iMaSanPham })"><img src="@Url.Content("~/HinhAnhSanPham/"+item.sAnhBia)" width="50" height="50" /></a></td>
            <td>@String.Format("{0:0,0}", item.dDonGia) VNĐ</td>
            <td>@item.iSoLuong</td>
            <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>

        </tr>
        }
        <tr>
            <td colspan="6" style="text-align:center;color:red">
                @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")
            </td>
        </tr>
        <tr>
            <td colspan="6" style="text-align:center">
                @using (Html.BeginForm("DatHang", "GioHang"))
            {
                    <input type="submit" name="btnSumbit" value="Đặt Hàng" />
                }
            </td>
        </tr>
    </table>
</div>