@using TuVanLaptoop.Models
@model List<GioHang>
@{
    ViewBag.Title = "Sửa Giỏ Hàng";
    Layout = "~/Views/Layout/_LayoutNguoiDung.cshtml";
}
<style>
    #table1{
        float:right;
        margin-top:-200px;
    }
    #giohang {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    float:right;
}

#giohang td, #giohang th {
    border: 1px solid #ddd;
    padding: 8px;
}

#giohang tr:nth-child(even){background-color: #f2f2f2;}

#giohang tr:hover {background-color: #ddd;}

#giohang th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.soluong{
    margin-left:5px;
}
</style>
<div id="table1">
    <table id="giohang">
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>Tên Sản Phẩm</th>
            <th>Ảnh Bìa</th>
            <th>Đơn Giá</th>
            <th>Số Lượng</th>
            <th>Thành Tiền</th>
            <th colspan="2">Chức năng</th>
        </tr>

        @foreach (GioHang item in Model)
        {
            <tr>
                <td>@item.iMaSanPham</td>
            <td>@item.sTenSanPham</td>
            <td><img src="@Url.Content("~/HinhAnhSanPham/"+item.sAnhBia)" width="50" height="50" /></td>
            <td>@String.Format("{0:0,0}", item.dDonGia) VNĐ</td>
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @MaSanPham = item.iMaSanPham }))
            {
                <td >@Html.TextBox("txtSoLuong", item.iSoLuong, new { @class = "soluong" }) </td>

                <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>
                <td>
                    <input type="submit" name="btnSubmit" value="Cập nhật" />

                </td>
            }
            @using (Html.BeginForm("XoaGioHang", "GioHang", new { @MaSanPham = item.iMaSanPham }))
            {
                <td>
                    <input type="submit" name="btnSubmit" value="Xóa" />
                </td>
            }

        </tr>
        }
    </table>
    
</div>
<div style="text-align:center"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>@Html.ActionLink("Quay lại", "GioHang")</div>