@model TuVanLaptoop.ViewModels.SuKienViewModel



<script>
    $(document).ready(function () {
        var values = "GioiTinhs,NgheNghieps,MucDichs,YeuCauGiaTiens,HangLaptops,HeDieuHanhs";
        $.each(values.split(","), function (i, e) {
            $('#'+e).change(function () {
                if ($("#"+e+" :selected").val() !="") {
                    $(this).css({ backgroundColor: '#A9A9A9' });
                }
                else if ($("#" + e + " :selected").val() === "") {
                    $(this).css({ backgroundColor: 'white' });

                }
            });
        });

        function Success() {
           
        }

    });
</script>

@using (Ajax.BeginForm("Index", "TuVan", null,
                                            new AjaxOptions {
                                        //hiển thị ảnh khi đang load partial view( chưa load xong)
                                        LoadingElementId = "progress",

                                                UpdateTargetId = "KetQuaTuVan",
                                                InsertionMode = InsertionMode.Replace,
                                                HttpMethod = "POST",

    },
    new {@class="col-sm-8 col-sm-offset-2"}))
{
    <div class="form-group row">
        @Html.DropDownListFor(m => m.GioiTinhs, Model.GioiTinhs, "Giới tính",new {@class="form-control" })
    </div>
    <div class="form-group row">
        @Html.DropDownListFor(m => m.NgheNghieps, Model.NgheNghieps, "Nghề nghiệp", new { @class = "form-control" })
    </div>
    <div class="form-group row">
        @Html.DropDownListFor(m => m.MucDichs, Model.MucDichs, "Mục đích sử dụng", new { @class = "form-control" })
    </div>
    <div class="form-group row">
        @Html.DropDownListFor(m => m.YeuCauGiaTiens, Model.YeuCauGiaTiens, "Giá tiền", new { @class = "form-control" })
    </div>
    <div class="form-group row">
        @Html.DropDownListFor(m => m.HangLaptops, Model.HangLaptops, "Hãng sản xuất", new { @class = "form-control" })
    </div>
    <div class="form-group row">
        @Html.DropDownListFor(m => m.HeDieuHanhs, Model.HeDieuHanhs, "Hệ điều hành", new { @class = "form-control" })
    </div>
    <div class="text-center" style="">
        <input type="submit" name="submit" id="btn-result" class="btn btn-info" value="Xin trợ giúp">
    </div>
        }


        <div id="progress" class="modal" style="margin-top:300px;margin-left:650px;">
            <div class="text-center" style="">
                <img src="@Url.Content("~/HinhAnh/loader4.gif")" />
            </div>
        </div>







