@model IEnumerable<TuVanLaptoop.Models.Laptop>

@*<link href="~/Content/TrangChuCss.css" rel="stylesheet" />*@

<style>
    #SanPham{
    float:left;
    width:24%;
    border:solid 1px rgba(0,0,0,.2);
    margin-left:8px;
    height:350px;
}
#SanPham #AnhBia{
    width:100%;
    height:60%;
}
#SanPham #AnhBia img{
   width:100%;
    height:100%;
}
#SanPham #ThongTin{
    padding-left:2px;
    padding-top:5px;
   
}
</style>
@{
    ViewBag.Title = "Tư vấn";
   // Layout = "~/Views/Layout/_LayoutNguoiDung.cshtml";
}

@{int i = 0; }
<div id="divBody" style="background-color:rgba(0,0,0,.2);" >
    <div class="alert alert-success alert-dismissable fade in" style="text-align:center;">
        <div style="text-align:center;">@TempData["message"].ToString()</div>
    </div>

        @foreach (var item in Model)
        {
            i++;
            <div id="SanPham">
                <a href="@Url.Action("XemChiTiet","SanPham",new { @MaLaptop = item.Id })"><div id="AnhBia" title="@item.Name"><img src="@Url.Content("~/HinhAnhSanPham/"+item.AnhBia)"></div></a>
                @*<a href="@Url.Action("XemChiTiet","ChiTietLaptop",new { @MaSach = item.MaSach })"><div id="AnhBia" title="@item.TenSach"><img src="@Url.Content("~/HinhAnhSach/"+item.AnhBia)"></div></a>*@
                <div id="ThongTin">
                    <div style="height:56px;">@item.Name</div>
                    <div id="GiaBan" style="color:orange;"><font color="green">Giá bán:</font>@string.Format("{0:0,0}", @item.gia) VNĐ</div>
                </div>
                <div id="GioHang">
                    @*@using (Html.BeginForm("ThemGioHang", "GioHang", new { @MaSach = item.MaSach, @strUrl = Request.Url.ToString() }))
                        {
                            <input type="submit" style="cursor:pointer" value="Mua hàng &#xf07a" id="btnGioHang" class="btn btn-primary">
                        }*@
                </div>
            </div>
            if (i % 4 == 0)
            {
                <div style="clear:both"></div>
            }
        }
    </div>
<div style="clear:both"></div>


