@using TuVanLaptoop.Models
@using PagedList
@using PagedList.Mvc
@model PagedList.PagedList<Laptop>

@{
    ViewBag.Title = "Quản lí sản phẩm";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}


<p>
    <i class="fa fa-plus-circle"></i>@Html.ActionLink("Thêm sản phẩm", "ThemSanPham", "SanPham")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AnhBia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().HangLaptopId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().HeDieuHanhId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().mausac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().manhinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().dophangiai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().cpu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ocung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().khoiluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().pin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().cardroi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    //gán id cho mỗi hàng để xóa bằng ajax
    <tr id="row_@item.Id">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
                @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            <img title="@item.Name" src="@Url.Content("~/HinhAnhSanPham/"+item.AnhBia)" style="width:80px;height:50px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HangLapTop.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeDieuHanh.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mausac)
        </td>
        <td>
            @string.Format("{0:0,0}", @item.gia) VNĐ
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manhinh) inch
        </td>
        <td>
            @if (item.dophangiai == true)
            {
                <span>HD:Có</span>
            }
            else
            {
                <span>HD:Không</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpu) GB
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ram) GB
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ocung) GB
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.khoiluong) KG
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pin) giờ
        </td>
        <td>
            @if (item.cardroi == true)
            {
                <span>Có</span>
            }
            else
            {
                <span>Không</span>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "ChinhSuaSanPham", "SanPham", new { MaSanPham = item.Id },null) |
            @Html.ActionLink("Details", "XemChiTiet", "SanPham", new { MaLaptop = item.Id }) |
            @*xóa sản phẩm sử dụng ajax*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            @*AjaxOption để post request*@
            
            @*thu viện unobtrusive.ajax(chú ý phiêm bản)*@

            @Ajax.ActionLink("Xóa", "Delete", "SanPham", new { @id = item.Id }, new AjaxOptions
       {
           Confirm = "Bạn có muốn xóa sản phẩm này?",
           //xóa bản ghi sử dụng Id, ứng với mỗi tr(hàng)
           //OnComplete = $('#row' + rowid).remove(),
           OnSuccess = string.Format(
                        "deleteSuccess({0})",
                        Json.Encode(item.Id)
                    ),
           HttpMethod = "Delete"
       })
        </td>
    </tr>
}

</table>
<script>
    //xóa bản ghi sau khi chấp nhận confirm
    var deleteSuccess = function (rowid) {
        $('#row_' + rowid).remove();
    };
</script>
<div id="MenuPhanTrang">
    @Html.PagedListPager(Model, page => Url.Action("QuanLiSanPham", new { page = page }))
</div>
<style>
    #MenuPhanTrang li {
        display: inline;
        margin:10px;

    }
</style>