@using TuVanLaptoop.Models
@using PagedList
@using PagedList.Mvc
@model PagedList.PagedList<Luat>

@{
    ViewBag.Title = "Quản lí luật";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">Quản lí luật</h2>
<div>
    <p>
        <i class="fa fa-plus-circle"></i>@Html.ActionLink("Thêm luật", "ThemLuatOrSuaLuat", "Luat", new { id = 0 }, null)
        @using (Html.BeginForm("QuanLiLuat", "Admin"))
        {
            @Html.TextBox("txtTimKiem", "", htmlAttributes: new {  @placeholder = "Search" })
            <div id="HinhAnhTimKiem">

                <button type="submit" name="search" value="Search" style="width: 30px;
                    height: 31px;
                    /* float: left; */
                    margin-left: 233px;
                    margin-top: -72px;">
                    <img src="~/HinhAnh/imgSearch.png" style="width:16px;height:30px;"/>
                </button>

                <button type="submit" name="trash" value="Trash" style="width: 105px; 
                    height: 31px;
                    /* float: left; */
                    margin-left: 6px;
                    margin-top: -72px;">
                   @* <img src="~/HinhAnh/imgSearch.png" style="width:16px;height:30px;" />*@
                    Lọc theo tên
                </button>

                <button type="submit" name="all" value="All" style="width:60px;
                    height: 31px;
                    /* float: left; */
                    margin-left: 6px;
                    margin-top: -72px;">
                    @* <img src="~/HinhAnh/imgSearch.png" style="width:16px;height:30px;" />*@
                    Tất cả
                </button>

            </div>
        }
    </p>
</div>

<div style="text-align:center;color:red">
    @ViewBag.ThongBao
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("STT")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SuKienVT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SukienVP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaiThich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DoTinCay)
        </th>
        <th>Chức năng</th>
    </tr>
    @{int i=0;}
@foreach (var item in Model) {
    i++;
    <tr id="row_@item.Id">
        <td>
            @Html.DisplayName(i.ToString())
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.SuKienVT)*@
            @Html.DisplayFor(modelItem => item.sukienvetrais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SukienVP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaiThich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoTinCay)
        </td>
        <td>
            @Html.ActionLink("Sửa", "ThemLuatOrSuaLuat","Luat", new { @id = item.Id,@stringUrl=Request.Url.ToString() },null) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.Id }) |
            @*@Html.ActionLink("Xóa", "Delete", new { id=item.Id })*@
            @*AjaxOption để post request*@

            @*thu viện unobtrusive.ajax(chú ý phiêm bản)*@

            @Ajax.ActionLink("Xóa", "Delete", "Luat", new { @id = item.Id }, new AjaxOptions
       {
           Confirm = "Bạn có muốn xóa luật này?",
           //xóa bản ghi sử dụng Id, ứng với mỗi tr(hàng)
           //OnComplete = $('#row' + rowid).remove(),
           OnSuccess = string.Format(
                        "deleteSuccess({0})",
                        Json.Encode(item.Id)
                    ),
           HttpMethod = "Delete"
       })
        </td>
    </tr>
}

</table>
<div id="MenuPhanTrang">
    @Html.PagedListPager(Model, page => Url.Action("QuanLiLuat", new { page = page }))
</div>
<style>
    #MenuPhanTrang li {
        display: inline;
        margin: 10px;
    }
</style>

<script>
    //xóa bản ghi sau khi chấp nhận confirm
    var deleteSuccess = function (rowid) {
        $('#row_' + rowid).remove();
    };
</script>