@model IEnumerable<TuVanLaptoop.Models.Laptop>

<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "Tư vấn";
    Layout = "~/Views/Layout/_LayoutNguoiDung.cshtml";
}
@*Phần BodyIndex*@
@if (ViewBag.ThongBao != "") { 
<div style="text-align:center">@ViewBag.ThongBao</div>
    if (TempData["CheckLuatTonTai"] !=null)
    {
  @section DoTinCay {
    Mô tả:  @TempData["MoTaLuat"] <br/>
    Độ tin cậy:@TempData["DoTinCay"] <a title="Like" href="@Url.Action("TangDoTinCay", "Luat", new { @MaLuat =  @TempData["LuatId"], @strUrl = Request.Url.ToString() })"><i class="fa fa-thumbs-o-up"></i></a>
    <a title="Unlike" href="@Url.Action("GiamDoTinCay", "Luat", new { @MaLuat =  @TempData["LuatId"], @strUrl = Request.Url.ToString() })"><i class="fa fa-thumbs-o-down" ></i></a>
    }
    }
}



@{int i = 0; }
<div id="divBody">
    @foreach (var item in Model)
    {
        i++;
        <div id="SanPham">
            <a href="@Url.Action("XemChiTiet","SanPham",new { @MaLaptop = item.Id })"><div id="AnhBia" title="@item.Name"><img src="@Url.Content("~/HinhAnhSanPham/"+item.AnhBia)"></div></a>
            @*<a href="@Url.Action("XemChiTiet","ChiTietLaptop",new { @MaSach = item.MaSach })"><div id="AnhBia" title="@item.TenSach"><img src="@Url.Content("~/HinhAnhSach/"+item.AnhBia)"></div></a>*@
            <div id="ThongTin">
                <div>@item.Name</div>
                <div id="GiaBan" style="color:orange;"><font color="green">Giá bán:</font>@string.Format("{0:0,0}", @item.gia) VNĐ</div>
            </div>
            <div id="GioHang">
                @*@using (Html.BeginForm("ThemGioHang", "GioHang", new { @MaSach = item.MaSach, @strUrl = Request.Url.ToString() }))
                    {
                        <input type="submit" style="cursor:pointer" value="Mua hàng &#xf07a" id="btnGioHang" class="btn btn-primary">
                    }*@
            </div>
        </div>
        if (i % 4 == 0)
        {
            <div style="clear:both"></div>
        }
    }
</div>
<div style="clear:both"></div>

